.container-body{
  overflow: hidden;
  @include respond(tab-port){
    padding: 0 2rem;
  }
}
.main {
  @include respond(phone) {
    margin: 0 1rem;
  }
}
.reason,
.testiomnials,
.latest,
.sub {
  text-align: center;
}
.welcome {
  position: relative;

  @include respond(phone) {
    margin: auto;
    text-align: center;
    .l-6:first-child {
      order: 2;
    }
  }

  &__content {
    .btn {
      margin-top: 2rem;
      width: 22rem;
      
    }
  }
  &__leaves {
    position: absolute;
    top: 60%;
    left: 8%;
    z-index: -100;
  }
  &__img { 
    padding-right: 1rem;
    @include respond(tab-port){
      padding-right: 1rem;
      // height: 100%;
    }
    img {
      width: 100%;
      background-color: $color-green-light;
      @include respond(phone) {
        margin-top: 2rem;
      }
      @include respond(tab-port) {
        width: 100%;
        // height: 100%;
     
      }
    }
  }
}

.reason {
  position: relative;
  &__leaves {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: -100;
  }
}

.browse {
  position: relative;
  text-align: center;
  .row {
    @include respond(phone) {
      justify-content: center;
    }
  }
  &__leaves {
    position: absolute;
    right: 5%;
    top: 0;
    z-index: -100;
  }
  &__button {
    margin-top: 5rem;
    //   padding: 2rem;
    &-item {
      width: 5rem;
      height: 5rem;
      border: none;
      outline: none;
      font-size: 2rem;
      cursor: pointer;
      transition: box-shadow 0.5s;

      &:first-child {
        background-color: $color-white;
        color: $color-grey-light-2;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        margin-right: 1rem;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
        &:hover {
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.178);
        }
      }
      &:last-child {
        background-color: $color-green;
        color: $color-white;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-left: 1rem;
        &:hover {
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.178);
        }
      }
    }
  }
}

.history {
  position: relative;
  @include respond(phone) {
    margin: auto;
    text-align: center;
  }

  &__leaves {
    position: absolute;
    left: 9%;
    top: -10rem;
    z-index: -100;
  }
  &__img {
    width: 100%;
    height: 47.8rem;
    background-color: $color-green-light;
    @include respond(phone) {
      height: auto;
    }
    img {
      @include respond(tab-port) {
        width: 100%;
       
        margin-top: 5rem;
      }
    }
  }
}

.testiomnials {
  position: relative;
  .testimonial-card {
    @include respond(phone) {
      margin-top: 5rem;
    }
  }
  &__leaves {
    position: absolute;
    right: 10%;
    top: 25%;
    z-index: -100;
  }
}

.sub {
  position: relative;
  &__leaves-1 {
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: -100;
  }
  &__leaves-2 {
    position: absolute;
    top: 50%;
    right: 15%;
  }
}
